<!doctype html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Tailwind 自訂設定 -->
  <script>
    tailwind.config = {
      darkMode: "class",
      theme: {
        extend: {
          colors: {
            primary: "#ff8c00",
            "background-light": "#f8f7f5",
            "background-dark": "#231a0f",
          },
          fontFamily: {
            display: ["Space Grotesk", "sans-serif"],
          },
        },
      },
    };
  </script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700" rel="stylesheet" />

  <title>聖地巡禮 | Sacred Site Pilgrimage</title>
  <script type="module" crossorigin src="/assets/index-Cj1p35VF.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-VIw0lZPI.css">
</head>

<body class="bg-background-light dark:bg-background-dark font-display">

  <div id="root"></div>

</body>

</html>